.responsive-image {
    width: 100%;
    max-width: 900px;
    height: 100%;
    object-fit: fill;
    //border:1px solid green;
}

.responsive-image-IE11 {
    width: 100%;
    max-width: 900px;
    display: inline-block !important;
    height: auto !important;
    max-height: 1300px;
    min-height: 1px;
    //border:1px solid blue;
}
.isSmall{
    height: 260px;
    object-fit: fill;
    
}
.isSmall-text{
    transform: scale(1.2) translate(-10px,-10px);
}

.menu-v-small {
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;

    & .v-checked {
        width: 60px;
        height: auto;
        position: absolute;
        left: calc(50% - 30px);
        z-index: 125;
        top: 40px;
    }

    & .label-v-small {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &>h3 {
            font-family: var(--ff-font-title);
            font-size: 1.2rem;
            position: relative;
            width: fit-content;
            text-transform: uppercase;
            margin-bottom: 0;
            opacity: 0.7;
        }

        /* &>h3::before {
            content: "";
            width: 30px;
            border-bottom: 0.5px solid white;
            display: inline-block;
            height: 1px;
            margin-right: 10px;
            top: 50%;
            left: -35px;
            position: absolute;
        }

        &>h3::after {
            content: "";
            width: 30px;
            border-bottom: 0.5px solid white;
            display: inline-block;
            margin-left: 10px;
            height: 1px;
            top: 50%;
            right: -35px;
            position: absolute;
        }
 */
        &>p {
            font-family: var(--ff-font-regular);
            opacity: 0.7;
            font-size: 1rem;
            text-align: justify;
            text-justify: newspaper;
        }
    }

}

.menu-v-big {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    position: relative;

    & .v-checked {
        width: 80px;
        height: auto;
        position: absolute;
        left: calc(50% - 40px);
        z-index: 125;
        top: 60px;
    }

    & .label-v-big {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &>h3 {
            font-family: var(--ff-font-title);
            font-size: 1.2rem;
            position: relative;
            width: fit-content;
            text-transform: uppercase;
            margin-bottom: 0;
        }

       /*  &>h3::before {
            content: "";
            width: 50px;
            border-bottom: 0.5px solid white;
            display: inline-block;
            height: 1px;
            margin-right: 10px;
            top: 50%;
            left: -55px;
            position: absolute;
        }

        &>h3::after {
            content: "";
            width: 50px;
            border-bottom: 0.5px solid white;
            display: inline-block;
            margin-left: 10px;
            height: 1px;
            top: 50%;
            right: -55px;
            position: absolute;
        } */

        &>p {
            font-family: var(--ff-font-regular);
            font-size: 0.8rem;
            text-align: justify;
            text-justify: newspaper;
        }
    }
}

.fullWidth {
    width: 100%;
    & .label-v-big {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &>h3 {
            font-family: var(--ff-font-title);
            font-size: 1.2rem;
            position: relative;
            width: fit-content;
            text-transform: uppercase;
            margin-bottom: 0;
        }

       /*  &>h3::before {
            content: "";
            width: 50px;
            border-bottom: 0.5px solid white;
            display: inline-block;
            height: 1px;
            margin-right: 10px;
            top: 50%;
            left: -55px;
            position: absolute;
        }

        &>h3::after {
            content: "";
            width: 50px;
            border-bottom: 0.5px solid white;
            display: inline-block;
            margin-left: 10px;
            height: 1px;
            top: 50%;
            right: -55px;
            position: absolute;
        } */

        &>p {
            font-family: var(--ff-font-regular);
            font-size: 1.2rem;
            text-align: justify;
            text-justify: newspaper;
        }
    }
}

.menu-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 600px;

    & .bg-v {
        width: 600px;
        height: 452px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        // border:1px solid;
        & .v-checked {
            width: 100px;
            height: auto;
            position: absolute;
            left: calc(50% - 50px);
            top: 100px;
        }

        & .label-v {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(43, 44, 43, 0.8);
            width: 400px;
            height: 166px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: justify;

            &>h3 {
                font-family: 'Permanent Marker', cursive;
                font-size: 1.2rem;
                margin: 5px;
                text-align: left;
                width: 80%;
            }

            &>p {
                font-family: 'Montserrat', sans-serif;
                font-size: 0.9rem;
                margin: 5px;
                width: 80%;
            }
        }
    }

    & .v-gray {
        filter: grayscale(80%);
    }
}

.slider {
    appearance: none;
    width: 60vw;
    height: 15px;
    background: rgba(255, 255, 255, 0.7);
    outline: none;
    border-radius: 8px;
    filter: drop-shadow(0 0 0.10rem rgba(0, 0, 0, 0.4));

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25%;
    height: 15px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25%;
    height: 15px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}

.slider::-ms-track {
    border: none;
}

.slider::-ms-fill-upper {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.slider::-ms-fill-lower {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.slider::-ms-thumb {
    width: 70px;
    display: inline-block;
    height: 15px;
    background: #6eacb0;
    border-radius: 8px;
    //border:0.5px solid blue;
    cursor: pointer;
}

.slider::-ms-tooltip {
    display: none;
}

.over-notification {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 300;
    top: -200px;
    left: 0px;
    width: 100vw;
    height: calc(100vh);

    & .notification {
        width: 40vw;
        height: auto;
        min-height: 120px;
        padding: 15px;
        color: white;
        font-family: var(--ff-font-regular);
        font-size: 1rem;
        //position: fixed;
        z-index: 347;
        //bottom:30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(#9e9db6, 0.95);
        color: white;

        & .header {
            display: flex;
            width: 100%;
            //border:1px solid blue;
            align-items: center;
            justify-content: flex-end;

            & h3 {
                font-family: 'Permanent Marker', cursive;
                font-size: 2rem;
                align-self: flex-start;
                margin-left: 20px;
            }

            & .btn-close {
                display: flex;
                align-items: center;
                //border:1px solid blue;
                font-family: 'Montserrat', sans-serif;
                font-size: 1rem;
                font-weight: 700;
                margin-right: 20px;
                cursor: pointer;
            }
        }

        &>p {
            width: 80%;
            // border:1px solid red;
        }
    }
}
.over-notification-small {
    width: 100%;
    height: 100%;
    top:0;
    & .notification {
      
        width: calc(100% - 80px);
        & .header {
            
            & h3 {
                
            }

            & .btn-close {
                
            }
        }

        &>p {
            
        }
    }
}


.item-document {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15vw;
    max-width: 180px;
    min-width: 100px;
    //width: 100%;
    height: 80px;
    font-family: var(--ff-font-title);
    font-size: 0.9rem;
    border-radius: 10px;
    //background-color:rgba(197,157,110,0.7);
    background-color: white;
    color: #5d0482;
    border: 1px solid var(--clr-secondary);
    filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 0.3));
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transform: scale(1);
    transition: transform, 0.8;
    position: relative;
    cursor: pointer;

    & p {
        width: 80%;
        text-align: left;
        margin-left: 2px;
        margin-right: 2px;

        //font-weight: 700;
        //border: 1px solid black;
    }

    & .icon-doc {
        margin-left: 15px;
        font-size: 2rem;
        margin-right: 5px;
    }

    & .new-doc {
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url('./../../../images/icon-notification.svg');
        background-size: contain;
        right: -10px;
        top: -10px;

    }

}
.item-document-small{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: calc(100% - 2px);
    min-width: 130px;
    & .icon-doc {
        margin-left: 5px;
        font-size: 2rem;
        margin-right: 5px;
    }
    & .new-doc {
        
        width: 20px;
        height: 20px;
        right: -5px;
        

    }
}

.item-document:hover {
    transform: scale(1.1);
}
.item-document-small:hover {
    transform: scale(1);
}

.item-document-big {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    //background-color:rgba(197,157,110,0.7);
    background-color: rgba(102, 160, 164, 0.8);
    color: white;
    //border:1px solid #222;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4));
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: transform, 0.8;
    cursor: pointer;

    & p {
        width: 80%;
        text-align: left;
        margin-left: 10px;
        font-weight: 700;
        //border: 1px solid black;
    }

    & .icon-doc {
        margin-left: 25px;
        margin-right: 5px;
    }

}

.item-document-big:hover {
    transform: scale(1.05);
}

.basics-logo-omnes {
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.basics-clip-image {
    background-image: url(./../../../images/circle-image.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    & .basics-clip-image-pic {
        background-size: cover;
        background-position: center;
        clip-path: circle(45% at 50%);
    }

    & .basics-clip-image-color {
        clip-path: circle(45% at 50%);
    }

    & .basics-clip-image-btn {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 0px 20px #000);
        background-color: var(--clr-accent);
        transition: transform 0.6s ease-out;
        transform: scale(1);
        cursor: pointer;

        & .arrow {
            fill: #313133 !important;
            font-size: 4rem;
        }
    }

    & .basics-clip-image-btn:hover {
        transform: scale(1.1);
    }

    & .btn-small {
        width: 70px;
        height: 70px;
    }
    & .btn-small:focus {
        outline: none;
    }
}

.content-title {
    display: flex;
    flex-direction: row;
    font-family: var(--ff-font-big);
    gap: 4px;
    justify-content: center;
    align-items: flex-end;

    &>h1 {
        font-family: var(--ff-font-big);
        color: white;
        position: relative;
        margin: 0px;
        width: fit-content;
    }

    &>h3 {
        color: var(--clr-light);
        margin: 0px;
        //border:1px solid red;
        position: relative;
        display: inline-block;
        width: fit-content;
    }

    & .content-left {
        font-size: 5rem;
        margin-right: 10px;
        margin-left: -10px;
        position: relative;

        /*  height: 75px;
        & .icon-left{
            position: absolute;
            top: 10px;
            left: -22px;
        } */
        & .bigHeight {
            height: 100% !important;
        }
    }

    & .content-text {
        text-align: center;

        & .main-small {
            font-size: 1.2rem;
            width: 100%;
            margin-bottom: 0;

        }

        & .second-small {
            font-size: 1rem;
            margin-top: 0;
        }

        & .bigText {
            font-size: 1.8rem !important;
        }
    }

    & .content-right {
        font-size: 5rem;
        margin-left: 5px;

        // margin-bottom: 2px;
    }
}

.basics-title-box {
    text-align: left;

    &>h1 {
        font-family: var(--ff-font-big);
        color: white;
        position: relative;
        margin: 0px;
        width: fit-content;
    }

    &>h3 {
        color: var(--clr-light);
        margin: 0px;
        //border:1px solid red;
        position: relative;
        display: inline-block;
        width: fit-content;
    }

    & .main-big {
        font-size: 3.5rem;
        text-align: left;
    }

    & .main-small {
        font-size: 1.6rem;
        width: 100%;
    }

    & .second-big {
        font-size: 1.6rem;
    }

    & .second-small {
        font-size: 1rem;
    }

    /*  & .main-big::before{
        content:'“';
        font-size: 5rem;
        margin-right: 10px;
        position: absolute;
        left:-40px;

    } */
    /*  & .main-small::before{
        content:'“';
        font-size: 4rem;
       // margin-right: 10px;
        display: inline-block;
        position: absolute;
        top:-10px;
        left:-25px

    } */
    /*  & .main-big::after{
        content:'„';
        font-size: 5rem;
        margin-left: 10px;

    } */
    /* & .main-small::after{
        content:'„';
        font-size: 4rem;
        display: inline-block;
        position: absolute;
        margin-left: 5px;
        top:-10px;

    } */
    & .second-big::after {
        content: '';
        position: absolute;
        display: block;
        //border:1px solid red;
        width: 100%;
        height: 8px;
        background-image: url("./../../../images/divider.png");
        background-position: -100px 50%;
        background-size: 100% 3px;
        background-repeat: no-repeat;
        left: 0px;
        bottom: -5px;

    }

}

.basics-title-center {
    // border:1px solid white;
    text-align: center;
}

.basics-profile {
    width: 50px;
    height: 50px;
    background-image: url('./../../../images/profile.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
}

.basics-header {
    width: calc(100% - 40px);
    height: 100px;
    //border:1px solid yellow;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    background-image: url(./../../../images/line.png);
    background-repeat: no-repeat;
    background-position: 0px center;
    background-size: 100% auto;
    max-width: 1200px;

    & .divider {
        flex: 1 0 auto;
        width: auto;
        height: 1px;
        background-color: white;
        margin-left: 20px;
        margin-right: 35px;
    }
}

.basics-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;

    // border:1px solid red;
    & .cta-separator {
        flex-grow: 1;
        flex-basis: auto;
        //width: auto;
        background-image: url('./../../../images/line-dash.png');
        background-position: center;
        background-size: 100% 2px;
        background-repeat: no-repeat;
        height: 8px;
    }

    & .cta-content {
        font-size: 1.8rem;
        font-family: var(--ff-font-title);
        width: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        color: white;

    }
}

.travel-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    & .step-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .step-title {
            position: absolute;
            font-family: var(--ff-font-title);
            color: white;
            width: 100%;
            left: 0;
            top: 35%;
            text-align: center;
            font-size: 0.9rem;
            text-transform: uppercase;
        }

        & .step-title-active {
            position: absolute;
            font-family: var(--ff-font-title);
            color: #5d0482;
            width: 100%;
            left: 0;
            top: 35%;
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        & .step-active {
            background-image: url('./../../../images/arrow-active.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 40%;
            margin-top: 5px;
        }
    }

    & .travel-separator {
        width: 40px;
        height: 1px;
        border-bottom: 1px dotted white;
    }

    & .travel-separator:last-of-type {
        flex-grow: 1;
        width: auto;
    }
}

.travel-wrapper-full {
    width: calc(100% - 40px);
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

    & .step-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .step-title {
            position: absolute;
            font-family: var(--ff-font-title);
            color: white;
            width: 100%;
            left: 0;
            top: 35%;
            text-align: center;
            font-size: 0.9rem;
            text-transform: uppercase;
        }

        & .step-title-active {
            position: absolute;
            font-family: var(--ff-font-title);
            color: #5d0482;
            width: 100%;
            left: 0;
            top: 38%;
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        & .step-active {
            background-image: url('./../../../images/arrow-active.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-left: 40%;
            margin-top: 5px;
        }
    }

    & .travel-separator {
        width: 40px;
        height: 1px;
        border-bottom: 1px dotted white;
    }

    & .travel-separator:last-of-type {
        flex-grow: 1;
        width: auto;
    }
}


@media only screen and (max-height: 800px) and (max-width:1100px) {
    .item-document-big {
        width: 220px;
        height: 80px;
        font-size: 0.8rem;

        & p {
            margin-right: 10px;
        }
    }
}